/*CSS FOR STUDENT HOME*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1E293B;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#MainContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#headerdiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #334155;
}

#headerdiv h1{
  font-size:x-large;
  color: #ccd5e2;
  margin-left: 10px;
}

#logo {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  align-items: center;
}

#logo img{
  height:50px;
  width: 50px;
}

#headerdiv button{
  margin-right: 20px;
  font-size: 20;
  padding: 6px 24px;
  border-radius: 8px;
  color: #ccd5e2;
  background-color: transparent;
  border:0;
}

#headerdiv button:hover {
  text-decoration: underline 0.12em rgba(255, 255, 255, 0);
  text-decoration-color: rgba(255, 255, 255, 1);
}

#LeftSection{
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
}

#ProfileCard{
  background-color: #f8e8ff;
  color: #ce4df3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 75%;
  margin-top: 10%;
  border-radius: 12px;
}

#ProfileCard h2{
  margin-bottom: 0px;
  font-size:larger;
}

#ProfileCard p{
  margin-top: 2px;
}

#ProfileCard img{
  display: flex;
  align-items: center;
  margin-top: 30px;
  height: 250px;
  width: 150px;
  outline: auto;
}


#RightSection{
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

#ClearanceHistoryDiv{
  color: #96a4b9;
  margin-left: 30px;
  margin-bottom: 25px;
}

#ClearanceHistoryDiv h1{
  margin-bottom: 2px;
}

#HistoryContent{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #354256;
  padding: 5px;
  margin-right: 30px;
}


#HistoryContent card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  background-color: #6091f6;
  border:0;
  border-radius: 8px;
  color: #d5e7ff;
}

#HistoryContent card:hover{
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
  transform: scale(1.05) perspective(1px);
}


#RightSection{
  margin-top: 20px;
}

#UpperRightSection{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#ClearanceInfo{
  display: flex;
  padding:10px;
  flex-grow: 0.3;
  margin-left: 30px;
}

#imageside{
  display: flex;
  flex-grow: 0.1;
  background-color:#f8e8ff;  
  align-items: center;
  justify-content: center;
}

#imageside img{
  height: 80px;
  width: 80px;

}

#clearancecontent{
  display: flex;
  flex-direction: column;
  flex-grow: 0.3;
  background-color: #2e69ef;
  width: 50%;
  padding:10px;
  color:#d5e7ff;
}

#clearancecontent h2{
  color:#f8e8ff;
  margin-top: 0;
  margin-bottom: 0;
}

#clearancecontent h3{
  margin-top: 0;
  margin-bottom: 0;
}

#clearancecontent h4{
  margin-top: 0;
  margin-bottom:0;
}

#NumberInfo{
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-right: 30px;
}

#numbercontent{
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  background-color: #2e69ef;
  width: 100%;
  padding:10px;
  color:#d5e7ff;
}

#numbercontent h2{
  margin-top: 0;
  margin-bottom: 0;
}

#numbercontent h3{
  margin-top: 0;
  margin-bottom: 0;
  color:#f8e8ff;
}

#ButtonSection{
  display: flex;
  flex-direction: row;
}

#ButtonSection button{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f8e8ff;
  color: #ce4df3;
  width: 75%;
  border: 0;
  border-radius: 8px;
  margin-top: 8px;
  margin-left: 15px;
}

#ButtonSection button:hover {
  background-color: #334155;
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
  color:#D9D9D9;
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

#UnderClearance{
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

#UnderClearance button{
  display: flex;
  margin-left: 15px;
  background-color: #2e69ef;
  color:#ccd5e2;
}

/*------------------------------------------*/
/*CSS PART FOR APPLICATION DETAILS */

#ApplicationMainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#AppDetailsForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color:#96a4b9;
}


#AppDetailsForm h1{
  color: #6091f6;
  margin-top: 20px;
  margin-bottom: 0;
}

#AppDetailsForm p{
  color:#ce4df3;
  font-size: x-large;
  margin-top:1px;
  margin-bottom: 0;
}

#AppDetailsForm label{
  margin-bottom: 10px;
  font-size: medium;
}

#AppDetailsForm input[type=text]{
  border: none;
  border-bottom: 2px solid #96a4b9;
  background-color: transparent;
  width: 100%;
  color:#96a4b9;
}


#AppDetailsForm button{
  display: flex;
  padding: 12px 28px;
  background-color: #2e69ef;
  color:#ccd5e2;
  font-size: 16px;
  border-radius: 8px;
}

#AppDetailsForm button:hover{
  background-color: transparent;
}