body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1E293B;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#MainContainer {
  display: flex;
  flex-direction: row;
}

#headerdiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #334155;
}

#headerdiv h1{
  font-size:x-large;
  color: #ccd5e2;
  margin-left: 10px;
}

#logo {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  align-items: center;
}

#logo img{
  height:50px;
  width: 50px;
}

#headerdiv button{
  margin-right: 20px;
  font-size: 20;
  padding: 6px 24px;
  border-radius: 8px;
  color: #ccd5e2;
  background-color: transparent;
  border:0;
}

#headerdiv button:hover {
  text-decoration: underline 0.12em rgba(255, 255, 255, 0);
  text-decoration-color: rgba(255, 255, 255, 1);
}

#LeftSection{
  display: flex;
  flex-direction: column;
  flex-grow: 0.6;
  justify-content: center;
  align-items: center;
}

#ProfileCard{
  background-color: #f8e8ff;
  color: #ce4df3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 75%;
  margin-top: 10%;
  border-radius: 12px;
}

#ProfileCard h2{
  margin-bottom: 0px;
  font-size:larger;
}

#ProfileCard p{
  margin-top: 2px;
}

#ProfileCard img{
  display: flex;
  align-items: center;
  margin-top: 30px;
  height: 250px;
  width: 150px;
  outline: auto;
}

#LeftSection button{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background-color: transparent;
  color: #ce4df3;
  width: 75%;
  border: 0;
  border-radius: 8px;
  margin-top: 10px;
}


#LeftSection button:hover {
  background-color: #334155;
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
  color:#D9D9D9;
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}


#RightSection{
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

#ClearanceHistoryDiv{
  color: #96a4b9;
  margin-left: 30px;;
}

#ClearanceHistoryDiv h1{
  margin-bottom: 2px;
}

#HistoryContent{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #354256;
  padding: 5px;
  margin-right: 30px;
}


#HistoryContent button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  background-color: #6091f6;
  border:0;
  border-radius: 8px;
  color: #d5e7ff;
}


#RightSection{
  margin-top: 20px;
}

#UpperRightSection{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#ClearanceInfo{
  display: flex;
  padding:10px;
  flex-grow: 0.3;
  margin-left: 30px;
}

#imageside{
  display: flex;
  flex-grow: 0.1;
  background-color:#f8e8ff;  
  align-items: center;
  justify-content: center;
}

#imageside img{
  height: 80px;
  width: 80px;

}

#clearancecontent{
  display: flex;
  flex-direction: column;
  flex-grow: 0.3;
  background-color: #2e69ef;
  width: 50%;
  padding:10px;
  color:#d5e7ff;
}

#clearancecontent h2{
  color:#f8e8ff;
  margin-top: 0;
  margin-bottom: 0;
}

#clearancecontent h3{
  margin-top: 0;
  margin-bottom: 0;
}

#clearancecontent h4{
  margin-top: 0;
  margin-bottom:0;
}

#NumberInfo{
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-right: 30px;
}

#numbercontent{
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  background-color: #2e69ef;
  width: 100%;
  padding:10px;
  color:#d5e7ff;
}

#numbercontent h2{
  margin-top: 0;
  margin-bottom: 0;
}

#numbercontent h3{
  margin-top: 0;
  margin-bottom: 0;
  color:#f8e8ff;
}

.bg-img{
  width: 100%;
  height: 649px;
  z-index: -1;
 
}

.flex-container{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.login-box{
  display: flex;
  color: #fae8ff;
  flex-direction: column;
  align-items: center;
  border: solid #fae8ff 2px;
  border-radius: 10px;
  padding: 10px;
  height: 520px;
  width: 450px;
  margin-top: -600px;
  margin-left: -340px;
  background-color: rgba(209, 209, 211, 0.2);
}

.imgside{
  display: flex;
  flex-direction: row;
  margin-top: -410px;
  margin-right: -770px;
  width: 370px;
  height: 540px;
  border-left: solid #d946ef 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.imgside:hover{
  filter:hue-rotate(-0.25turn);
  transform: rotate(10deg);
}

#l-email, #l-password{
  border-radius: 10px;
  padding: 6px;
  width: 250px;
  border: none;
  outline: double pink;
}

.welcome{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 20px;
  padding: 10px;
  font-size: 40px;
}

.label{
  font-size: 16px;
}

.loginbutton {
  font-size: 14px;
  width: 266px;
  height: 38px;
  border: double grey;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  top: 30px;
 
  z-index: 0;
  border-radius: 50px;
}

.loginbutton:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 50px;
}

.loginbutton:active {
  color: #000
}

.loginbutton:active:after {
  background: transparent;
}

.loginbutton:hover:before {
  opacity: 1;
}

.loginbutton:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 50px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.linksignup{
  text-decoration: underline;
  color: white;
  font-weight:400;
}

.linksignup:hover{
  color: #d946ef;
}

.inputs{
  border-radius: 4px;
  padding: 10px;
  margin: 8px;
  margin-left: 50px;
  width: 320px;
  border: none;
  outline: double pink;
}

#sign-up{
  margin-top: -20px;
}

#signupbtn{
  margin-top: -20px;
  margin-left: 79px;
  height: 45px;
}

.suimgside{
  display: flex;
  flex-direction: row;
  margin-top: -480px;
  margin-right: -770px;
  width: 370px;
  height: 540px;
  border-left: solid #d946ef 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.suimgside:hover{
  filter:hue-rotate(-0.25turn);
  transform: rotate(10deg);
}